build/**
docs/**
internals/**
node_modules/**
server/**
app/images/**
babel.config.js
jest.config.js
package.json
package-lock.json
.all-contributorsrc
.editorconfig
.eslintignore
.gitattributes
.gitignore
.eslintrc.js
.nvmrc
.prettierignore
.prettierrc
.stylelintrc
