<div class="content__main">
  <%= simple_form_for [@campaign, @question] do |f| %>
    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :title,
              label: "Start by giving a <strong>title</strong> to your question".html_safe,
              placeholder: "What do you think of our new strategy for... ?",
              input_html: { autofocus: true } %>
      </div>
      <div class="card__section card__section--border">
        <%= f.input :description,
              label: "Optionally define a <strong>description</strong> to further explain what you need resolution for".html_safe,
              placeholder: "We've been hammering at this problem for a very long time, and we need your input on how to..." %>
      </div>
    </div>
    <%= f.button :submit %>
  <% end %>
</div>
