<div class="content__main">
  <%= simple_form_for [:metrics, @collection, @graph] do |f| %>
    <div class="card">
      <div class="card__section card__section--border">
        <%= f.association :field,
              label: "Choose the <strong>field</strong> that the graph will represent".html_safe,
              collection: f.object.collection.graphable_fields(current_user).map{ |field| [field.title, field.id, { class: "numeric-field-#{ field.numeric? }" }] },
              include_blank: false,
              input_html: { class: "graph-field", autofocus: true }
        %>
      </div>

      <div class="card__section card__section--border graph-aggregation-field">
        <%= f.association :aggregation,
              label: "Choose a field to <strong>aggregate</strong> the data on (optional)".html_safe,
              collection: f.object.collection.graphable_fields(current_user).reject{ |f| f.numeric? } %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>

<% content_for :page_scripts do %>
  <script>
    $('.segmented-control__item').click(function() {
      $(this).parent().find('.segmented-control__item').removeClass('segmented-control__item--is-selected');
      $(this).addClass('segmented-control__item--is-selected');
      $(this).parent().find('input').val($(this).data('value'));
    });

    $('.js-graph-type-button').click(function() {
      if ($(this).data('value')) {
        $('.js-date-range').removeClass('hidden');
      } else {
        $('.js-date-range').addClass('hidden');
      }
    });
  </script>
<% end %>
