<div class="modal fade" id="myModal">
  <div class="modal-dialog" style="width: 65%;height: 65%;">
    <div class="modal-content" style="height: auto;min-height: 100%;border-radius: 0;">
    </div>
  </div>
</div>