<div class="content__header">
  <h1>My Campaigns</h1>
</div>

<div class="content__main">
  <div class="card">
    <% if @campaigns.empty? %>
      <div class="card__section">
        <p>You don't have any scrum sessions yet. When you're invited to one, it will show up here.</p>
      </div>
    <% else %>
      <% @campaigns.each do |campaign| %>
        <%= link_to employee_campaign_questions_path(campaign), class: "block block-section" do %>
          <div class="card__section card__section--border">
            <div class="flex-row flex-row--middle">
              <div class="flex-row__cell">
                <%= image_tag campaign.image.url(:thumb), class: "avatar avatar--large" %>
              </div>
              <div class="flex-row__cell flex-row__cell--grow">
                <h2><%= campaign.title %></h2>
                <p><%= campaign.description %></p>
              </div>
              <div class="flex-row__cell">
                <span class="icon icon--chevron-right"></span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>