<div class="col-xs-8">
  <% if @user.accepting_mentor_requests || @user.accepting_mentee_requests %>
    <div class="card">
      <% if @mentorship_requests.size + @menteeship_requests.size > 0 %>
        <% if @mentorship_requests.size > 0 %>
          <div class="card__section card__section--border">
            <h3>The following users would like you to be their mentor:</h3>
            <%= render "user/mentorship/requests/requests_table", requests: @mentorship_requests %>
          </div>
        <% end %>

        <% if @menteeship_requests.size > 0 %>
          <div class="card__section card__section--border">
            <h3>The following users would like to be your mentor:</h3>
            <%= render "user/mentorship/requests/requests_table", requests: @menteeship_requests %>
          </div>
        <% end %>
      <% else %>
        <div class="card__section">
          <h4 class="text-center">You currently don't have pending mentorship requests</h4>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="card">
    <% if @mentorship_proposals.size + @menteeship_proposals.size > 0 %>
      <% if @mentorship_proposals.size > 0 %>
        <div class="card__section card__section--border">
          <h3>You have requested for the following users to be your mentor:</h3>
          <%= render "user/mentorship/requests/proposals_table", proposals: @mentorship_proposals %>
        </div>
      <% end %>

      <% if @menteeship_proposals.size > 0 %>
        <div class="card__section card__section--border">
          <h3>You have requested to be a mentor for the following users:</h3>
          <%= render "user/mentorship/requests/proposals_table", proposals: @menteeship_proposals %>
        </div>
      <% end %>
    <% else %>
      <div class="card__section">
        <h4 class="text-center">You currently don't have pending mentorship proposals</h4>
      </div>
    <% end %>
  </div>
</div>
