<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Sir/Madam,</p>
    <p>
      <%= @content %>.<br>
    </p>
  </body>
</html>
