<div class="content__header">
  <h1>Events Calendar</h1>
  <div class="flex-row flex-row--middle">
    <div class="flex-row__cell">
      <%= link_to "List View",   user_events_path, class: "btn btn--secondary" %>
    </div>
  </div>
</div>
<div id="calendar" data-calendar-data-url="<%= calendar_data_user_events_path %>"></div>

<script>
  $(document).ready(function(){
    applyFullCalendar();
  }); //endof document.ready
</script>