<div class="card__section">
  <%= render 'public_activity/shared/owner', activity: activity %>
  updated campaign
  <% if activity.trackable %>
    <%= link_to activity.trackable.title, campaign_questions_path(activity.trackable) %>
  <% else %>
    which has since been removed
  <% end %>
  (<%= activity.created_at.to_s :datetime %>)
</div>