<div class="modal group-selector" tabindex="-1" role="dialog" id="<%= id %>" data-url="<%= get_paginated_groups_groups_path %>" data-all-url="<%= get_all_groups_groups_path %>" data-multiselect="<%= multiselect %>">
    <div class="modal-dialog" role="document">
        <div class="modal-content card">
            <div class="modal-header">
            </div>
            <div class="groups-content modal-body">
            </div>
            <div class="modal-footer">
                <div class="row pagination-row card__section--border">
                </div>
                <div class="row helper-row">
                    <div class="col pull-right">
                        <button type="button" class="btn btn--primary btn--small save-groups-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>