<!-- Range selector -->
<div id="range-selector" class="graph-input">
  <div>
    <button class="btn btn-secondary" value="1m">1m</button>
    <button class="btn btn-secondary" value="3m">3m</button>
    <button class="btn btn-secondary" value="6m">6m</button>
    <button class="btn btn-secondary" value="ytd">YTD</button>
    <button class="btn btn-secondary" value="1y">1y</button>
    <button class="btn btn-secondary" value="all">All</button>
  </div>
  <div class="form-inline">
    <input id="from-date" type="text" class="form-control">
    <input id="to-date" type="text" class="form-control">
  </div>
</div>
