<div class="content__header">
  <h1>Members</h1>
  <% if policy(@group).manage_members? %>
    <%= link_to "+ Add members", new_group_group_member_path(@group), class: "btn btn--primary" %>
  <% end %>
</div>

<div class="content__main">
  <div class="card">
    <% if @members.empty? %>
      <div class="card__section">
        <p>No members yet.</p>
      </div>
    <% else %>
      <div class="card__section">
        <% if @members.any? %>
          <table
            class="table--has-border data-table"
            data-no-sortable="1"
            data-source="<%= group_group_members_path(format: :json) %>">
            <thead>
              <th>Name</th>
              <th>Actions</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        <% else %>
          <p>No members yet.</p>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
