<div class="content__header">
  <h1>Members</h1>
</div>

<div class="content__main">
  <div class="row">
    <% @members.each do |member| %>
      <div class="col sm-12 md-4 lg-3">
        <div class="card">
          <div class="card__section card__section--border">
            <div class="flex-row flex-row--middle">
              <div class="flex-row__cell flex-row__cell--grow flex-row__cell--ellipsis"><%= member.name %></div>
              <div class="flex-row__cell">
                <% if policy(member).destroy? %>
                  <%= link_to group_group_member_path(@group, member), method: :delete do %>
                    <%= inline_svg('icons/remove.svg', class: "icon icon--negative") %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @members %>
</div>