<div class="content__header">
  <h1>Initiatives</h1>
  <%= link_to "New Initiative", new_initiative_path, class: "btn btn--primary" if policy(Initiative).new? %>
</div>

<div class="content__main">
  <div class="card">
      <% if @initiatives.empty? %>
        <div class="card__section">
          <p>There are no initiatives yet. <%= link_to "Create one", new_initiative_path %> and start solving problems with your team's diverse opinions.</p>
        </div>
      <% else %>
        <% @initiatives.each do |initiative| %>
          <div class="card__section card__section--border">
            <h2><%= initiative.name %></h2>
            <%= link_to "Update", new_initiative_update_path(initiative) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    $('#initiatives-table').dataTable(Utility.mergeWithDTDefaults({
      order: [[2, "desc"]]
    }));
  });
</script>