<div class="content__main">
  <%= simple_form_for @expense_category do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :name,
              label: "Give your category a <strong>name</strong>".html_safe,
              placeholder: "Travel",
              input_html: { autofocus: true } %>
      </div>
      <div class="card__section card__section--border">
        <%= f.input :icon,
              as: :attachment_preview,
              label: "Optionally upload an <strong>icon</strong> that represents the category".html_safe %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
