<div class="nested-fields card__section card__section--border">
  <div class="card__action">
    <%= link_to_remove_association "Remove", f, class: "error" %>
  </div>

  <%= f.input :title %>
  <%= f.input :description %>
</div>