<h1>Edit employee</h1>

<%= simple_form_for @employee do |f| %>
  <%= f.input :email %>

  <% @employee.enterprise.fields.each do |cf| %>
    <%= render "shared/fields/display/custom_field", cf: cf, f: f, resource: @employee %>
  <% end %>

  <p><%= f.submit "Save" %></p>
<% end %>

<script>
  $('.select2').select2();
</script>