<div class="content__header">
  <h1>Import employees via CSV</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h3>Successful imports</h3>
      <p>
        <%= pluralize(@successful_rows.count, 'employees') %> out of the submitted <%= @table.count %> have been successfully imported. Each new employee will soon receive an invitation email asking them to complete their profile<% if !current_admin.enterprise.has_enabled_saml? %> and choose a password<% end %>.
      </p>

      <h3>Unsuccessful imports</h3>
      <p>
        <ul>
          <% @failed_rows.each do |failed_row| %>
            <li><strong>Row #<%= failed_row[:row_index] %>: </strong><%= failed_row[:error] %></li>
          <% end %>
        </ul>
      </p>
    </div>
  </div>
</div>