<h1>Employee details</h1>
<h2><%= @employee.name %></h2>

<label><strong>First name</strong></label>
<p><%= @employee.first_name %></p>

<label><strong>Last name</strong></label>
<p><%= @employee.last_name %></p>

<label><strong>Email</strong></label>
<p><%= @employee.email %></p>

<br>

<label><em>Other vcard info + enterprise defined fields will go here...</em></label>