<h1>Employee details</h1>

<%= link_to "Edit", edit_employee_path(@employee) %><br><br>

<label><strong>Email</strong></label>
<p><%= @employee.email %></p>

<h2>Custom fields</h2>

<% @employee.enterprise.fields.each do |field| %>
  <label><strong><%= field.title %></strong></label>
  <p><%= @employee.info_for_field(field) %></p>
<% end %>