<div class="nested-fields space-bottom">
  <div class="flex-row flex-row--baseline">
    <div class="flex-row__cell flex-row__cell--grow">
      <div class="field">
        <div class="field__input-wrapper">
          <%= f.association :expense, label: false, include_blank: false, input_html: { class: "js-expense-select select2" }, collection: current_user.enterprise.expenses.all.map{ |expense| [expense.name, expense.id, {"data-icon-url" => expense.category.icon.url(:thumb) }] } %>
        </div>
      </div>
    </div>
    <div class="flex-row__cell">
      &#215;
    </div>
    <div class="flex-row__cell">
      <div class="field">
        <div class="field__input-wrapper">
          <%= f.input :quantity, label: false, placeholder: "How many?" %>
        </div>
      </div>
    </div>
    <div class="flex-row__cell">
      <%= link_to_remove_association f do %>
        <%= inline_svg('icons/remove.svg', class: "icon") %>
      <% end %>
    </div>
  </div>
</div>