<div class="nested-fields space-bottom">
  <div class="flex-row flex-row--baseline">
    <div class="flex-row__cell flex-row__cell--grow">
      <div class="field">
        <div class="field__input-wrapper">
          <%= f.association :expense, label: "Expense type", include_blank: false %>
        </div>
      </div>
    </div>
    <div class="flex-row__cell">
      <div class="field">
        <div class="field__input-wrapper">
          <%= f.input :quantity %>
        </div>
      </div>
    </div>
    <div class="flex-row__cell">
      <%= link_to_remove_association f do %>
        <%= inline_svg('icons/remove.svg', class: "icon") %>
      <% end %>
    </div>
  </div>
</div>