<p>You are invited to participate in the following online survey in Diverst: <%= @poll.title %>.</p>

<p><%= link_to "Join now", new_poll_poll_response_url(@poll), saml_for_enterprise: @poll.enterprise.id %> to provide feedback and offer your thoughts and suggestions.</p>