<div>
  <%= link_to 'Delete', group_social_link_path(@group, post.id),method: :delete, class: "error", data: { confirm: "Are you sure?" } if GroupSocialLinkPolicy.new(current_user, [post.group, post]).destroy? %>
  <%= raw post.embed_code %>
</div>