<div class="card__section">
  <%= render 'public_activity/shared/owner', activity: activity %>
  approved
  <% if activity.trackable %>
    <%= link_to "budget request for " + activity.trackable.group.name, group_budget_path(activity.trackable.group, activity.trackable) %>
  <% else %>
    budget request which has since been removed
  <% end %>
  (<%= activity.created_at.to_s :datetime %>)
</div>
