.guest {
  background-color: $primary-color;

  .content__header {
    padding: 60px 0 30px 0;
    text-align: center;
    color: $diverst-white;
    flex-direction: column;

    p {
      color: inherit;
    }
  }

  .content__main {
    margin-bottom: 72px;
  }
}