.likeCount
{
  vertical-align: 88%;
  font-size: 0.5em;
  padding: 2px 5px;
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: 3px;
}

.commentsLink
{
  line-height: 32px;
  padding-right: 0 !important;
}

.postContent
{
  margin: 0;
}

.likeImg,
.likeImgFill
{
  width: 32px;
  height: 32px;
}

.likeImg > path {
  display: none;
}

.likeImg g
{
  display: initial
}

.likeImg g path {
  fill: $primary-color;
}

.likeImgFill > path {
  display: initial;
  fill: $primary-color;
}

.likeImgFill g
{
  display: none;
}
