.question__time {
  margin-right: $spacing-small;
}

.answer {
  width: 70%;
  margin-left: $spacing-small;
}

.answer__metadata {
}

.answer__content {
  margin-top: $spacing-small;
}

.comment {
  padding-left: $spacing-medium;
  margin-bottom: $spacing-medium;
  border-top: 1px solid $diverst-border;
  padding-top: $spacing-medium;

  &:last-child {
    margin-bottom: 0;
  }
}

.comment__metadata {
}

.comment__content {
}

.comment__input {
  min-height: 50px;
  width: 100%;
}