// Stuff that doesn't really belong anywhere else

.nested-fields {
  margin-bottom: $spacing-medium;

  &:last-child {
    margin-bottom: 0;
  }
}

.add_fields {
  display: inline-block;
  margin-bottom: $spacing-medium;
}