// Stuff that doesn't really belong anywhere else

.nested-fields.space-bottom {
  margin-bottom: $spacing-medium;
}

.add_fields {
  display: inline-block;
  margin-bottom: $spacing-medium;
}

select.datetime {
  display: inline-block;
  width: auto;
}

.dataTables_filter {
  @extend .field__input-wrapper;
}

.dataTables_filter input {
  @extend .field__input;
  box-sizing: border-box;
}