<table class='table--has-border' id="page_visitation_data" data-source="<%= source %>">
  <thead>
  <th>Page</th>
  <th>Visits in the past Week</th>
  <th>Visits in the past Month</th>
  <th>Visits in the past Year</th>
  <th>Total Visits</th>
  </thead>
  <tbody>
  </tbody>
</table>
