<div class="content__header">
  <h1>News</h1>
  <%= link_to "+ Create news", new_group_news_link_path, class: "btn btn--primary" if NewsLinkPolicy.new(current_user, NewsLink).new? %>
</div>

<div class="content__main">
  <div class="card">
    <% if @news_links.empty? %>
      <div class="card__section">
        <p>No news have been published yet.</p>
      </div>
    <% else %>
      <% @news_links.each do |news_link| %>
        <%= render partial: "groups/shared/news_links", locals: {news_link: news_link } %>
      <% end %>
    <% end %>
  </div>
</div>
