files:
  "/etc/init/clockwork_worker.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      description "Clockwork Background Worker"

      # Greatly reduce Ruby memory fragmentation and heap usage
      # https://www.mikeperham.com/2018/04/25/taming-rails-memory-bloat/
      env MALLOC_ARENA_MAX=2

      respawn
      respawn limit 3 30

      # TERM is sent by when stopping clockwork. Without declaring these as
      # normal exit codes, it just respawns.
      normal exit 0 TERM

      # Upstart waits 5 seconds by default to kill a process. Increase timeout to
      # give clockwork process enough time to exit.
      kill timeout 30

      script
      set -x
      exec /bin/bash <<"EOT"
        EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
        EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

        . $EB_SUPPORT_DIR/envvars
        . $EB_SCRIPT_DIR/use-app-ruby.sh

        EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

        cd $EB_APP_DEPLOY_DIR
        echo "Start clockwork"
        exec clockwork clock.rb
      EOT
      end script
