files:
  "/tmp/clockwork_restart.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      skwpid=$(initctl status clockwork_worker | grep /running | awk '{print $NF}')
      if [ -f skwpid ]
      then
        echo "TERM/terminating clockwork"
        sudo kill -TERM skwpid
      fi

      echo "STOPPING clockwork"
      sudo stop clockwork_worker

      echo "STARTING clockwork"
      sudo start clockwork_worker
