files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_clockwork.sh":
    mode: "120755"
    owner: root
    group: root
    content: "/tmp/clockwork_restart.sh"

  "/opt/elasticbeanstalk/hooks/configdeploy/post/50_restart_clockwork.sh":
    mode: "120755"
    owner: root
    group: root
    content: "/tmp/clockwork_restart.sh"

  "/opt/elasticbeanstalk/hooks/restartappserver/post/50_restart_clockwork.sh":
    mode: "120755"
    owner: root
    group: root
    content: "/tmp/clockwork_restart.sh"
