<div class="card__section">
  <%= render 'public_activity/shared/owner', activity: activity %>
  created resource
  <% if activity.trackable %>
    <%= link_to activity.trackable.title, group_resource_path(:id => activity.trackable.id, :group_id => activity.trackable.group.id) %>
  <% else %>
    which has since been removed
  <% end %>
  (<%= activity.created_at.to_s :datetime %>)
</div>
