<div class="card__section">
  <%= render 'public_activity/shared/owner', activity: activity %>
  <% if activity.trackable %>
     <% if activity.trackable.group %>
     	 restored a group resource
	     <%= link_to activity.trackable.title, group_resource_path(:id => activity.trackable.id, :group_id => activity.trackable.group.id) %>
	 <% elsif activity.trackable.enterprise %>
	 	 restored an enterprise resource
	 	<%= link_to activity.trackable.title, enterprise_resource_path(:id => activity.trackable.id, :enterprise_id => activity.trackable.enterprise.id) %>
	 <% end %>    
  <% else %>
    which has since been removed
  <% end %>
  (<%= activity.created_at.to_s :datetime %>)
</div>