<div class="nested-fields card__section card__section--border">
  <div class="flex-row flex-row--middle">
    <% unless f.object.new_record? %>
      <div class="flex-row__cell" style="padding-top: 25px;">
        <% if f.object.is_done %>
          <span class="error">Used</span>
        <% else %>
          <span class="positive">Available</span>
        <% end %>
      </div>
    <% end %>
    <div class="flex-row__cell--grow">
      <%= f.input :title %>
    </div>
    <div class="flex-row__cell">
      <%= f.input :estimated_amount %>
    </div>
    <div class="flex-row__cell">
      <%= f.input :estimated_date, as: :date_picker %>
    </div>
    <div class="flex-row__cell">
      <%= link_to_remove_association "X", f, class: "error" %>
    </div>
  </div>
</div>