<div class="content__main">
  <%= simple_form_for @group, url: update_annual_budget_group_budgets_path(@group), method: 'post' do |f| %>
    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :annual_budget,
              label: "Enter the amount of money <strong>#{ link_to @group.name, group_path(@group) } can spend annually</strong>".html_safe,
              input_html: { autofocus: true } %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
