$("#group_resource_<%= @resource.id %>").fadeOut(500, function(){
  $(this).remove();
  var resource_count = parseInt("<%= @resources.count %>");
  removeResourceRow(resource_count);
});

function removeResourceRow(resource_count) {
  if(resource_count == 0){
    $('tbody').append('<tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">No data available in table</td></tr>');
  }
}
