<table class='table--has-border' id="<%= id %>" data-source="<%= source %>">
  <thead>
  <th>First Name</th>
  <th>Last Name</th>
  <th>E-Mail</th>
  <th>Details</th>
  </thead>
  <tbody>
  </tbody>
</table>
