<div class="content__header">
  <img class="logo logo--large" src="<%= (current_user.enterprise.theme.nil? ? image_path('diverst-logo.svg') : current_user.enterprise.theme.logo.expiring_url(3600)) %>">
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h2>Thank you for your response</h2>
    </div>
  </div>
    <% if @poll&.initiative&.group %>
      <%= link_to 'Go Back Home', group_path(@poll&.initiative&.group), class: 'btn btn--secondary' %>
    <% else %>
      <%= link_to 'Go Back Home', user_root_path, class: 'btn btn--secondary' %>   
    <% end %>
</div>
