<!--<h1>Add Twitter Account To Follow</h1>-->
<%#= form_for :post do |f| %>
<!--  <p>-->
<!--    <%#= f.label :title %><br>-->
    <%#= f.text_field :title %>
<!--  </p>-->
<!--  <p>-->
    <%#= f.submit %>
<!--  </p>-->
<%# end %>

<div class="content__header">
  <h1>Add news</h1>
</div>

<div class="content__main">
  <%= render 'form' %>
</div>