$(".card").fadeOut(500, function() {
	$(this).remove();
	decreaseInitiativesCount();

	$("#archive_buttons").hide();
	displayForEmptyArchive();	
});

function decreaseInitiativesCount() {
	document.getElementById('archived_initiatives_count').innerHTML = 0;
}

function displayForEmptyArchive() {
	$('.content__main').append('<div class="card"><div class="card__section"><p>No Archived Events.</p></div> </div>');
}

