<div class="card__section">
  <%= render 'public_activity/shared/owner', activity: activity %>
  created
  <% if resource = activity.trackable %>
    <% if resource.enterprise %>
      enterprise folder
      <%= link_to resource.name, enterprise_folders_path(enterprise_id: resource.enterprise.id) %>
    <% else %>
      group folder
      <%= link_to resource.name, group_folders_path(group_id: resource.group.id) %>
    <% end %>
  <% else %>
    which has since been removed
  <% end %>
  (<%= activity.created_at.to_s :datetime %>)
</div>
