<div class="card__section">
  <%= render 'public_activity/shared/owner', activity: activity %>
  created reward
  <% if activity.trackable %>
    <%= link_to activity.trackable.label, rewards_path %>
  <% else %>
    which has since been removed
  <% end %>
  (<%= activity.created_at.to_s :datetime %>)
</div>
