<%= simple_form_for @leader do |f| %>
  <div class="card">
    <div class="card__section card__section--border">
      <%= f.association :user,
            collection: @group.members,
            selected: [],
            input_html: { class: "select2" },
            label: 'Select user'
      %>

      <%= f.input :position_name %>
    </div>
  </div>

  <%= f.button :submit %>
<% end %>