<%= simple_form_for [@group, @group_leader], url: url do |f| %>
  <div class="card">
    <div class="card__section card__section--border">
      <%= f.association :user,
            collection: @group.members,
            include_blank: true,
            selected: [],
            input_html: { class: "select2", autofocus: true },
            label: 'Select user'
      %>

      <%= f.input :position_name %>
    </div>
  </div>

  <%= f.button :submit %>
<% end %>
