<div class="content__header">
  <h1>Group Leaders</h1>
  <% if policy(@group).update? %>
    <%= link_to "Manage leaders", new_group_leader_path(@group), class: "btn btn--primary" %>
  <% end %>
</div>

<div class="content__main">
  <div class="card">
    <% if @group_leaders.empty? %>
      <div class="card__section">
        <p>No leaders yet.</p>
      </div>
    <% else %>
      <div class="card__section">
        <% if @group_leaders.any? %>
          <table class="table--has-border" id="group-leaders">
            <thead>
              <th>Name</th>
              <th>Position</th>
            </thead>
            <tbody>
              <% @group_leaders.each do |group_leader| %>
                <tr>
                  <td><%= group_leader.user.name_with_status %></td>
                  <td><%= group_leader.position_name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No leaders yet.</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
