<div class="card">
  <div class="card__section">
    <table
      class='table--has-border data-table'
      data-source="<%= source %>">
      <thead>
      <th>Page</th>
      <th>Count</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
