<div class="nested-fields">
  <%= link_to_remove_association "Remove", f, class: "error" %>
    x
  <br />
  <div style="font-size: 14px; font-weight: bold;" class="font-weight-bold">User</div>
  <small class="muted">To search - type user full name or email</small>
  <%= f.input :user_id, as: :select, collection: @mentoring_session.users, input_html: { class: "select2-field-mentors-and-mentees"}, :label_method => :email, :value_method => :id, :label => false %>
  <%= f.input :role, input_html: {value: "presenter"}, as: :hidden %>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>
