<div class="nested-fields">
  <%= link_to_remove_association "Remove", f, class: "error" %>
    x
  <br />
  <div style="font-size: 14px; font-weight: bold;" class="font-weight-bold">User</div>
  <small class="muted">To search - type user full name or email</small>
  <%= f.input :user_id, as: :select, collection: @mentoring_session.users, input_html: { class: "select2-field"}, :label_method => :email, :value_method => :id, :label => false %>
  <%= f.input :role, input_html: {value: "presenter"}, as: :hidden %>
</div>

<script>
$(document).on('ready page:load', function(){
  function init_select2(selector){
  $(selector).select2({
      ajax: {
        url: "/users.json?limit=10",
        theme: 'bootstrap',
        allowClear: true,
        type: "GET",
        dataType: "json",
        minimumInputLength: 3,
        multiple:true,
        delay: 1000,
        data: function (params) {
          var query = {
            search: {
              value: params.term
            }
          }
    
          // Query parameters will be ?search=[term]&type=public
          return query;
        },
        processResults: function (data) {
          var int = 1;
          
          // Tranforms the top-level key of the response object from 'items' to 'results'
          return {
            results: $.map(data.data, function(item){
              return {id: item[0], text: item[1] + " " + item[2] + " - " + item[3] } } )
          };
        },
        templateSelection: function(item) {
          return item[0]
        }
      }
    });
  };
  
  init_select2(".select2-field")
  
  $("form").on("cocoon:after-insert", function(_, row){
    field = $(row).find(".select2-field")
    init_select2(field);
  });
});

</script>