<div class="content__header">
  <h1>Import employees to this group via CSV</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h3>Import instructions</h3>
      <p>To batch import employees to this group, upload a CSV file using the form below. The file shoudld only contain a single column comprised of the users' email adresses. The first row will be ignored, as it is reserved for the header.</p>
      <p>Download this <%= link_to "sample CSV", sample_csv_group_path(@group) %> to get an idea of the sytem's expected data structure. It contains data from the last 5 employees to have joined this ERG.</p>
    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <h3>Import your file</h3>
      <%= form_tag({controller: "groups", action: "parse_csv"}, {method: "post", multipart: true}) do %>
        <div class="field">
          <div class="field__input-wrapper">
            <%= file_field_tag "file" %>
          </div>
        </div>
        <button class="btn btn--primary">Import</button>
      <% end %>
    </div>
  </div>
</div>