<div class="content__header">
  <h1>Import users through CSV</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <% if @success %>
        <h3>Successful</h3>
        <p>
          File is being processed.
          <% if @email.present? %>
            <b><%= "#{@email}" %></b> will receive an email once upload is done.
          <% else %>
            <b>Contact Diverst tech support to set up your report email</b>
          <% end %>
        </p>
      <% else %>
        <h3>Unsuccessful</h3>
        There was an error trying to process file provided:
        <br>
        <ul>
          <% @errors.each do |e| %>
            <li><%= e %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>