  <div class="card">
    <div class="card__section">
      <table id="invited-users-table" class="table--has-border data-table" data-source="<%= source %>">
        <thead>
          <th>Email</th>
          <th></th>
          <th></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>