<div class="card">
  <div class="card__section">
    <table
      class="table--has-border data-table"
      data-no-sortable='3'
      data-source="<%= source %>">
      <thead>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Points</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
