// Colors

.title_bar {
  color: $inverted-primary;
}

.title_bar:hover{
  color: $inverted-primary-hover!important;
}

.accent {
  color: $primary-color;
}

.muted {
  color: $diverst-grey-light;
}

.highlight {
  color: $diverst-black;
}

.error {
  color: $red;
}

.positive {
  color: $green;
}


// Text

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


// Display

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.block-section {
  cursor: pointer;
  padding: $spacing-medium 0;
  border-bottom: 1px;

  &:only-child {
    padding: 0;
  }

  &:hover .icon--chevron-right {
    transform: translate3d(5px, 0, 0);
  }

  .icon--chevron-right {
    transition: transform $time $curve;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  small {
    color: $diverst-grey;
  }
}

.block-section-news {
  padding: $spacing-medium 0;
  border-bottom: 1px solid $diverst-border;

  &:only-child {
    padding: 0;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  small {
    color: $diverst-grey;
  }
}

.mb10 {
  margin-bottom: $spacing-medium;
}

.mblarge {
  margin-bottom: $spacing-large;
}

.mtmedium {
  margin-top: $spacing-medium;
}

.mtlarge {
  margin-top: $spacing-large;
}

.no-margin {
  margin: 0;
}

.full-width {
  width: 100%;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.btn-padding {
  padding: 16px 20px;
}

.border-accent {
  border: 1px solid $primary-color;
  border-radius: 5px;
  padding: 10px;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}