// Colors

.accent {
  color: $diverst-purple;
}

.muted {
  color: $diverst-grey-light;
}

.highlight {
  color: $diverst-black;
}

.error {
  color: $red;
}


// Text

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


// Display

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}