// Colors

.accent {
  color: $diverst-purple;
}

.muted {
  color: $diverst-grey-light;
}

.highlight {
  color: $diverst-black;
}

.error {
  color: $red;
}


// Text

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


// Display

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.block-section {
  padding: $spacing-medium 0;
  border-bottom: 1px solid $diverst-border;

  &:hover .icon {
    @include transform(translate3d(5px, 0, 0));
  }

  .icon {
    @include transition(transform $time $curve);
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}