// Z Index

$z-index: (
  tooltip           : 999,
  primary-header    : 989,
  secondary-header  : 994,
  nav               : 996,
  card__action      : 995
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}