// Global

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $diverst-background;
  color: $diverst-grey;
  overflow-x: hidden;

  &.auth {
    @include display(flex);
    @include align-items(center);
  }
}

a {
  text-decoration: none;
  color: $diverst-purple;
  outline: 0;

  & + & {
    margin-left: $spacing-small;
  }
}

img {
  vertical-align: top;
}

.logo {
  height: 28px;

  @include mq(medium) {
    height: 36px;
  }

  .site-wrap--form & {
    display: block;
    margin: 0 auto $spacing-x-large;
  }

  &--large {
    height: 36px;
    
    @include mq(medium) {
      height: 48px;
    }
  }
}

.logo-mark {
  width: 28px;
  height: 28px;

  @include mq(medium) {
    width: 36px;
    height: 36px;
  }
}

.site-wrap {
  width: 90%;
  max-width: 840px;
  margin: 0 auto;

  &--small {
    max-width: 400px;
  }

  &--medium {
    width: 720px;
  }
}