// Global

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $diverst-background;
  color: $diverst-grey;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $diverst-purple;
  outline: 0;

  & + & {
    margin-left: $spacing-small;
  }
}

img {
  vertical-align: top;
}

.logo {
  height: 28px;

  @include mq(medium) {
    height: 36px;
  }

  .site-wrap--form & {
    display: block;
    margin: 0 auto $spacing-x-large;
  }
}

.logo-mark {
  width: 28px;
  height: 28px;

  @include mq(medium) {
    width: 36px;
    height: 36px;
  }
}

.site-wrap {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;

  &--small {
    max-width: 400px;
  }

  &--form {
    margin-top: 20%;

    @include mq(medium) {
      margin-top: 15%;
    }

    @include mq(large) {
      margin-top: 10%;
    }
  }
}