// Global

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $diverst-background;
  color: $diverst-grey;
  overflow-x: hidden;

  &.auth {
    display: flex;
    align-items: center;
  }
}

a {
  text-decoration: none;
  color: $primary-color;
  outline: 0;
}

.link-group {
  a + a {
    margin-left: $spacing-small;
  }
}

img {
  vertical-align: top;
}

.logo {
  height: 28px;

  @include mq(medium) {
    height: 36px;
  }

  .site-wrap--form & {
    display: block;
    margin: 0 auto $spacing-x-large;
  }

  &--large {
    height: 36px;

    @include mq(medium) {
      height: 48px;
    }
  }
}

.logo-mark {
  width: 28px;
  height: 28px;

  @include mq(medium) {
    width: 36px;
    height: 36px;
  }
}

.site-wrap {
  width: 90%;
  max-width: 840px;
  margin: 0 auto;

  &--small {
    max-width: 400px;
  }

  &--medium {
    max-width: 1200px;
  }
}

hr {
  border: 0;
  height: 1px;
  margin: $spacing-medium 0;
  background-color: $diverst-border;
}

.scrollable_box {
  overflow-y: scroll;
  height: 200px;
}

.underline_text {
  text-decoration: underline;
  color: $primary-color;
}

a.powered-by-firepad {
display: none;
}

.firepad {
  width: 700px;
  height: 450px;
  background-color: $primary-color;
}


.full-width {
  width: 100% !important;
}