// Font sizes

$regular-font-size: (
  null: 15px,
  $medium: 16px
);

$small-font-size: (
  null: 13px,
  $medium: 14px
);

$h1-font-size: (
  null: 20px,
  $medium: 22px,
  $large: 24px
);

$h2-font-size: (
  null: 18px,
  $large: 20px
);

$h3-font-size: (
  null: 16px,
  $large: 18px
);

$h4-font-size: (
  null: 14px,
  $large: 16px
);

$h5-font-size: (
  null: 16px
  // $medium: 16px
);


// General typography

body {
  line-height: 1.5;
  @include font-regular;
  @include font-size($regular-font-size);
  -webkit-font-smoothing: subpixel-antialiased;
}

// Caps

@mixin caps {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  @include font-regular;

  @include mq(medium) {
    font-size: 14px;
  }
}


// Caps bold

@mixin caps-bold {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  @include font-medium;

  @include mq(medium) {
    font-size: 14px;
  }
}


// Headlines

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  color: $diverst-black;
  margin: 0 0 $spacing-medium;
  @include font-medium; // All titles are bold by default

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
.h1 {
  @include font-size($h1-font-size);
}


h2,
.h2 {
  @include font-size($h2-font-size);
}

h3,
.h3 {
  @include font-size($h3-font-size);
}

h4,
.h4 {
  margin-bottom: $spacing-small;
  @include font-size($h4-font-size);
}


// Paragraphs and lists

p,
ul,
ol {
  color: $diverst-grey;
  line-height: 1.5;
  margin: 0 0 1.5em 0;

  &:last-child {
    margin-bottom: 0;
  }
}

p.emphasis {
  font-style: italic;
  font-size: 18px;
}

ul,
ol {
  padding-left: 1.5em;

  &.no-spacing {
    list-style-position: inside;
    padding-left: 0;
  }

  li {
    margin-bottom: $spacing-small;

    &:last-child {
      margin: 0;
    }
  }

}

.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.unpadded {
  padding: 0;
}


// Misc

strong {
  color: $diverst-black;
  @include font-medium;

  br + & {
    display: inline-block;
    margin-top: 4px;
  }

  a & {
    color: inherit;
  }
}

small {
  display: inline-block;
  @include font-size($small-font-size);
}