<div class="content__main">
  <%= simple_form_for @department do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :name,
              label: "Give your department a <strong>name</strong>".html_safe,
              placeholder: "Accounting",
              input_html: { autofocus: true } %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
