<div class="flex-row flex-row--middle">
  <div class="flex-row__cell">
    <%= link_to "http://linkedin.com", class: "text-right" do %>
      <%= image_tag(@employee.avatar.url) %>
    <% end %>
  </div>
  <div class="flex-row__cell">
    <h1><%= @employee.name %></h1>
  </div>
</div>