<div class="content__main">
  <%= simple_form_for [@poll, @graph] do |f| %>
    <div class="card">
      <div class="card__section card__section--border">
        <%= f.association :field,
              label: "Choose the field that the graph will represent",
              collection: f.object.collection.graphable_fields(current_user) %>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :aggregation,
              label: "Choose a field to aggregate the data on (optional)",
              collection: f.object.collection.graphable_fields(current_user) %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
