$("tbody").fadeOut(500, function() {
	$(this).remove();
	decreasePostsCount();
	$("#restore_buttons").hide();
	var resource_count = parseInt("<%= @resources.size %>");
	removeResourceRow(resource_count);	
});


function decreasePostsCount() {
	document.getElementById('resource_count').innerHTML = 0;
}

function removeResourceRow(resource_count) {
	if(resource_count == 0){
		$('table').append('<tbody><tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">No data available in table</td></tr></body>');
	}
}

