<div class="card">
    <div class="card__section">
      <% if @members.any? %>
        <table class="table--has-border segment-members-table">
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Options</th>
          </thead>
          <tbody>
            <% @members.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                  <%= link_to "Details", user_path(user) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No user match search criteria.</p>
      <% end %>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('.segment-members-table').dataTable(Utility.mergeWithDTDefaults({
        order: [[0, "desc"]]
      }));
    });
  </script>
