<div class="content__header">
  <h1>Segments</h1>
  <%= link_to "+ New Segment", new_segment_path, class: "btn btn--primary" %>
</div>

<div class="content__main">
  <div class="card">
    <% @segments.each do |segment| %>
      <div class="card__section card__section--border">
        <div class="flex-row">
          <div class="flex-row__cell flex-row__cell--grow"><%= link_to segment.name, segment_path(segment), class: "accent" %></div>
          <div class="flex-row__cell">
            <%= link_to "Edit", edit_segment_path(segment), class: "muted" %>
            <%= link_to "Delete", segment_path(segment), method: :delete, class: "error" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>