<div class="content__main">
  <%= simple_form_for [@container, @resource] do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <p class="field__hint">Start off by giving your resource a representative <strong>title</strong></p>
        <%= f.input :title, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Upload the <strong>file</strong> you want to share</p>
        <%= f.input :file, as: :attachment_preview, label: false %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
