<div class="content__header">
  <h1>Messages</h1>
  <%= link_to "+ Create new message", new_group_group_message_path, class: "btn btn--primary" if GroupMessagePolicy.new(current_user, GroupMessage).new? %>
</div>

<div class="content__main">
  <div class="card">
    <% if @messages.empty? %>
      <div class="card__section">
        <p>There are no messages in this group.</p>
      </div>
    <% else %>
      <% @messages.each do |message| %>
        <%= render partial: "groups/shared/messages", locals: {message: message } %>
      <% end %>
    <% end %>
  </div>
</div>
