<div class="content__header">
  <h1>Messages</h1>
  <%= link_to "+Create new", new_group_group_message_path, class: "btn btn--primary" %>
</div>

<div class="content__main">
  <div class="card">
    <% @messages.each do |message| %>
      <div class="card__section card__section--border">
        <span class="highlight"><%= message.subject %> - </span> 
        <%= message.content %>
      </div>
    <% end %>
  </div>
</div>