<div class="content__header">
  <h1>Create a new poll</h1>
</div>

<div class="content__main">
  <%= render "form" %>
</div>

<% content_for :page_scripts do %>
  <script>
  $('.select2').select2();
  </script>
<% end %>