<div class="content__header">
  <div class="flex-row flex-row--middle full-width">
    <div class="flex-row__cell flex-row__cell--grow">
      <h1>Edit this permission template</h1>
    </div>
  </div>
</div>

<%= render "form" %>
