<div class="content__header">
  <div class="flex-row flex-row--middle full-width">
    <div class="flex-row__cell flex-row__cell--grow">
      <h2 class="h1-styling">Edit this permission template</h2>
    </div>
  </div>
</div>

<%= render "form" %>
