<div class="card__section">
  <%= render 'public_activity/shared/owner', activity: activity %>
  archived a news item
  <% if activity.trackable %>
    <%= link_to activity.trackable.title, comments_group_news_link_path(activity.trackable.group, activity.trackable) %>
  <% else %>
    which has since been removed
  <% end %>
  (<%= activity.created_at.to_s :datetime %>)
</div>