<div class="content__header">
  <h1>Group Resources</h1>
  <%= link_to "+ Add resource", polymorphic_path(@container_path + [:resource], action: "new"), class: "btn btn--primary" if policy(Resource).new? %>
</div>

<%= render 'table', resources: @group_resources, name: "group" %>

<div class="content__header">
  <h1>National Resources</h1>
</div>

<%= render 'table', resources: @national_resources, name: "national"%>