You have been invited to join this BRG:

<%= image_tag @group.logo.url(:thumb) %>
<h1><%= @group.name %></h1>
<p><%= @group.description %></p>

<%= link_to "Accept the invitation", join_group_path(@group) %>