// Primary header

.primary-header {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  padding: 0 $spacing-medium;
  background-color: $primary-color;
  color: $diverst-white;
  display: flex;
  align-items: center;
  @include z-index(primary-header);

  @include mq(medium) {
    height: 75px;
    padding: 0 $spacing-large;
  }

  h2 {
    color: $diverst-white;
  }
}

.primary-header__back {
  color: $diverst-white;
  width: 25%;
  display: flex;
  align-items: center;

  .logo-mark {
    margin-right: $spacing-medium;
  }
}

.primary-header__title {
  width: 50%;
  text-align: center;
}

.primary-header__main {
  flex: 1;
}


// Secondary header

.secondary-header {
  position: absolute;
  height: 50px;
  left: 0;
  top: 60px;
  right: 0;
  padding: 0 $spacing-medium;
  background-color: $diverst-white;
  text-align: center;
  white-space: nowrap;
  @include z-index(secondary-header);
  @include drop-shadow;

  @include mq(medium) {
    height: 55px;
    top: 75px;
    left: 0;
    padding: 0 $spacing-large;
    white-space: normal;
    overflow: hidden;

    .dashboard & {
      left: $nav-width;
      text-align: left;
    }
  }

  @include mq(large) {
    padding: 0 $spacing-x-large;
  }
}

.secondary-header__tab {
  display: inline-block;
  position: relative;
  color: $diverst-grey-light;
  height: 100%;
  line-height: 50px;
  padding: 0 $spacing-medium;
  box-shadow: inset 0 0 0 0 $primary-color;
  transition: color $time $curve, box-shadow $time $curve;
  @include caps-bold;

  @include mq(medium) {
    line-height: 55px;
  }

  &:hover,
  &:focus,
  &--is-selected {
    color: $diverst-black;
  }

  &--is-selected {
    box-shadow: inset 0 -3px 0 0 $primary-color;
  }
}