.content {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @include z-index(content);

  @include mq(medium) {
    top: 130px;
    right: 0;
    bottom: 0;
    left: 0;

    .dashboard & {
      left: $nav-width;
    }
  }
}

.content__inner {
  padding: $spacing-medium;
  width: 100%;
  margin: 0 auto;
  max-width: 1240px;
  min-height: calc(100vh - 130px - 20px);

  @include mq(medium) {
    padding: $spacing-large;
  }

  @include mq(large) {
    padding: $spacing-x-large;
  }
}

.content__header {
  margin-bottom: $spacing-large;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(small) {
    flex-direction: row;
  }

  h1,
  div.grow {
    flex: 1;

    @include mq(small) {
      margin: 0;
    }

    a {
      color: $diverst-grey;
    }
  }
}

.content__section {
  margin-bottom: $spacing-medium;

  @include mq(medium) {
    margin-bottom: $spacing-large;
  }

  @include mq(large) {
    margin-bottom: $spacing-x-large;
  }
}