Hello, <%= @leader.name %>
<br/>
Your <%= @group.name %> has <%= @count %> pending comment(s). Click below to view them and accept/deny group comments.

<br/>

<p><%= link_to "View Pending Comments", ReactRoutesHelper.routes.group.news.index(@group) %></p>