<div class="content__header">
  <h1>Bias</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--toggle"></span> &nbsp;&nbsp;I want to remain anonymous</label>
      <p>Where have you seen unconscious bias in your organization? (your entries will be kept strictly confidential)</p>

      <div class="row">
        <div class="col sm-3">
          <h3>ERG</h3>
          <% current_user.enterprise.groups[0..current_user.enterprise.groups.count/2 - 1].each do |group| %>
            <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;<%= group.name %></label>
          <% end %>
        </div>
        <div class="col sm-3" style="padding-top: 35px;">
          <% current_user.enterprise.groups[current_user.enterprise.groups.count/2..-1].each do |group| %>
            <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;<%= group.name %></label>
          <% end %>
        </div>
        <div class="col sm-3">
          <h3>Office location</h3>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Atlanta</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Chicago</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;New York</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Mobile</label>
        </div>
        <div class="col sm-3">
          <h3>Department</h3>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Accounting</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Customer service</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Finance</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Marketing</label>
        </div>
      </div>

      <div class="field" style="margin-top: 20px;">
        <div class="field__input-wrapper">
          <textarea cols="30" rows="6" class="field__input" placeholder="Optionally describe the observed bias"></textarea>
        </div>
      </div>

      <p style="margin-top: 30px;">
        <strong style="margin-bottom: 15px; display: inline-block;">Severity of bias: <span class="js-bias-severity"></span></strong>
        <span class="flex-row flex-row--middle">
          <span class="flex-row__cell">
            1
          </span>
          <span class="flex-row__cell flex-row__cell--grow">
            <input type="range" value="5" min="1" max="10">
          </span>
          <span class="flex-row__cell">
            10
          </span>
        </span>
      </p>

      <p><a href="#">+ Add a bias</a></p>

      <a href="#" class="btn btn--primary">Submit</a>
    </div>
  </div>
</div>

<script>
  var $slider = $('input[type="range"]').eq(0);
  $slider.rangeslider({
    polyfill: false,
    rangeClass: 'range-slider',
    fillClass: 'range-slider__line',
    handleClass: 'range-slider__handle',
    onInit: function() {
      $('.js-bias-severity').text($slider.val());
    },
    onSlide: function() {
      $('.js-bias-severity').text($slider.val());
    }
  });
</script>