<div class="content__header">
  <h1>Bias</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--toggle"></span> &nbsp;&nbsp;I want to remain anonymous</label>
      <p>Where have you seen unconscious bias in your organization? (your entries will be kept strictly confidential)</p>

      <div class="row">
        <div class="col sm-3">
          <h3>ERG</h3>
          <% current_user.enterprise.groups.each do |group| %>
            <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;<%= group.name %></label>
          <% end %>
        </div>
        <div class="col sm-3">
          <h3>Office location</h3>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Atlanta</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Chicago</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;New York</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Mobile</label>
        </div>
        <div class="col sm-3">
          <h3>Department</h3>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Accounting</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Customer service</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Finance</label>
          <label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span> &nbsp;&nbsp;Marketing</label>
        </div>
      </div>

      <p style="margin-top: 30px;">
        <strong style="margin-bottom: 15px; display: inline-block;">Severity of bias</strong>
        <input type="range" value="5" min="1" max="10">
      </p>

      <a href="#" class="btn btn--primary">Submit</a>
    </div>
  </div>
</div>

<script>
  $('input[type="range"]').rangeslider({
    polyfill: false,
    rangeClass: 'range-slider',
    fillClass: 'range-slider__line',
    handleClass: 'range-slider__handle',
  });
</script>