<h1>Privacy Statement</h1>
<br>
<% if @enterprise.privacy_statement.present? %>
  <%= allow_newlines @enterprise.privacy_statement %>
<% else %>
  <%= render 'users/default_privacy_statement' %>
<% end %>