<h1><%= c_t(:privacy_statement) %></h1>
<br>
<% if @enterprise.privacy_statement.present? %>
  <%= raw @enterprise.privacy_statement %>
<% else %>
  <%= render 'users/default_privacy_statement' %>
<% end %>