<div class="content__header">
  <h1>Edit user</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @outlook, url: outlook_user_user_path(@user) do |f| %>
        <%= f.input :auto_add_event_to_calendar,
                    as: :boolean,
                    label: 'Automatically add events you join to your calendar'
        %>
        <%= f.input :auto_update_calendar_event,
                    as: :boolean,
                    label: 'Automatically update events you added to your calendar when an event updates'
        %>

        <%= f.button :submit, "Save" %>
      <% end %>
    </div>
  </div>
</div>
