You have been invited to join the following Collaborate campaign: <strong><%= @invitation.campaign.title %></strong>

<br/>

<p><%= link_to "Join now", user_campaign_questions_url(@invitation.campaign) %></p>
