<div class="nested-fields card__section card__section--border">
  <div class="card__action">
    <%= link_to_remove_association "Remove", f, class: "error" %>
  </div>

  <%= render 'shared/fields/creation/numeric_field', f: f %>

  <%= f.hidden_field :type %>
  <%= f.hidden_field :show_on_vcard, value: 1 %>
</div>
