// Avatar

.avatar {
  width: 48px;
  height: 48px;
  border-radius: $border-radius;
}

.avatar--small {
  width: $spacing-x-large;
  height: $spacing-x-large;
}

.avatar--large {
  width: 90px;
  height: 90px;
}