.badge {
  font-size: 75%;
  padding: 2px 5px;
  color: white;
  border-radius: 2px;
  display: inline-block;
}

.badge--spaced {
  margin: 0 5px;
}

.badge--small {
  height: 40px;
  width: 120px;
}
