// Button mixin

@mixin button($color) {
  width: 100%;
  padding: 16px 20px;
  background-color: $color;

  &:hover {
    background-color: mix($color, #000, 95%);
  }

  &:active {
    background-color: mix($color, #000, 90%);
  }

  &:focus {
    box-shadow: inset 0px 0px 0px 2px rgba($color, 0.2);
  }

  @include mq(small) {
    width: auto;

    .site-wrap--form & {
      width: 100%;
    }
  }
}

// General styles

.btn {
  display: inline-block;
  color: $diverst-white;
  text-align: center;
  border-radius: $border-radius;
  outline: 0;
  @include caps-bold;
  transition: background-color $time $curve, color $time $curve;
  line-height: inherit;

  &[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.4;
    user-select: none;
  }
}

// Variants

.btn-primary {
  background-color: $primary-color;
}

.btn-primary:hover {
  color: black;
  background-color: $primary-color;
}

.btn-primary {
  background-color: $primary-color;
}

.btn-primary:hover {
  color: black;
  background-color: $primary-color;
}

.btn-secondary {
  color: white;
  background-color: $diverst-black;
}

.btn-secondary:hover {
  color: white;
  background-color: $diverst-black;
}

.btn--primary {
  @include button($primary-color);
}

.btn--secondary {
  @include button($diverst-black);
}

.btn--secondary:hover { 
  color: $diverst-grey-light;
}

.btn--secondary:focus {
  color: $diverst-grey-light;
}

.btn-tertiary {
  color: black;
  background-color: $diverst-grey-light;
}

.btn--tertiary {
  @include button($diverst-grey-light);
}

.btn--tertiary:disabled {
  color: darken($diverst-grey-light, 40%);
}

.btn--danger { 
  @include button($diverst-red);
}

.btn--large {
  font-size: 14px;
  padding: 24px 28px;
}

.btn--small {
  font-size: 12px;
  padding: 11px 13px;
}

.btn--extra--small { 
  font-size: 12px;
  padding: 2px 13px;
}

.btn--full {
  width: 100%;
}