// Card

.card {
  position: relative;
  margin-bottom: $spacing-medium;
  border-radius: $border-radius;
  background-color: $diverst-white;
  width: 100%;
  @include drop-shadow;
  transition: box-shadow $time $curve;

  @include mq(medium) {
    margin-bottom: $spacing-large;
  }
}


// Secondary

.card--secondary {
  background-color: mix($diverst-white, $diverst-background, 50%);
}


// Card section

.card__section {
  padding: $spacing-medium;
  position: relative;

  @include mq(medium) {
    padding: $spacing-large;
  }

  & + &:not(.card__section--border) {
    padding-top: 0;
  }
}

.card__section--accordion {

  .card__title {
    margin-bottom: 0;
  }

  .card__content {
    margin-top: $spacing-small;
    display: none;

    &--is-visible {
      display: block;
    }
  }
}

.card__section--border {
  border-bottom: 1px solid $diverst-border;

  &:last-child {
    border: 0;
  }
}

.card__title {
  margin-bottom: $spacing-medium;
}

.card__icon {
  position: relative;
  margin-right: $spacing-small;
  top: -2px;
  fill: $primary-color;
}


// Scroll

.card__section--scroll {
  height: 320px;
  overflow-y: scroll;
}

.card__action {
  position: absolute;
  top: $spacing-medium;
  right: $spacing-medium;
  @include z-index(card__action);
  @extend small;

  @include mq(medium) {
    top: $spacing-large;
    right: $spacing-large;
  }
}