// Card

.card {
  position: relative;
  margin-bottom: $spacing-medium;
  border-radius: $border-radius;
  background-color: $diverst-white;
  width: 100%;
  @include drop-shadow;
  transition: box-shadow $time $curve;

  @include mq(medium) {
    margin-bottom: $spacing-large;
  }
  overflow-y: auto;
}


// Secondary

.card--secondary {
  background-color: mix($diverst-white, $diverst-background, 50%);
}


// Card section

.card__section {
  padding: $spacing-medium;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  @include mq(medium) {
    padding: $spacing-large;
  }

  & + &:not(.card__section--border) {
    padding-top: 0;
  }

  &.pad-top {
    padding-top: $spacing-medium !important;
  }

  &.no-pad-top {
    padding-top: 0 !important;
  }
}

.card__section--accordion {

  .card__title {
    margin-bottom: 0;
  }

  .card__content {
    margin-top: $spacing-small;
    display: none;

    &--is-visible {
      display: block;
    }
  }
}

.card__section--border {
  border-bottom: 1px solid $diverst-border;

  &:last-child {
    border: 0;
  }
}

.card__section--description {
  margin-top: 15px;
}

.card__section--cover {
  min-height: 230px;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 -150px 60px -60px rgba(0, 0, -1, 0.5);
}

.card__section--cover__title {
  color: $diverst-white;
  position: absolute;
  bottom: $spacing-medium;
  text-shadow: 0 0 5px rgba(0,0,0,.8);
  font-size: 30px;

  @include mq(medium) {
    padding: $spacing-large;
  }
}

.card__section--image-preview {
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 35px;
}

.card__title {
  margin-bottom: $spacing-medium;
}

.card__icon {
  position: relative;
  margin-right: $spacing-small;
  top: -2px;
  fill: $primary-color;
}

.live__streaming {
  position: relative;
  margin-right: $spacing-small;
  top: -2px;
  fill: $green;
}

.card__yellow {
  position: relative;
  margin-right: $spacing-small;
  top: -2px;
  fill: $diverst-yellow;
}

.card__black {
  position: relative;
  margin-right: $spacing-small;
  top: -2px;
  fill: $diverst-black;
}


// Scroll

.card__section--scroll {
  height: 320px;
  overflow-y: scroll;
}

.card__action {
  position: absolute;
  top: $spacing-medium;
  right: $spacing-medium;
  @include z-index(card__action);
  @extend small;

  @include mq(medium) {
    top: $spacing-large;
    right: $spacing-large;
  }
}
