// Control

.control {
  display: block;
  cursor: pointer;
  text-align: left; // Force checkbox to always be left-aligned
  margin-bottom: $spacing-medium;
  user-select: none;

  .table-view & {
    margin: 0; // Remove margin when within table view
  }

  &:last-child {
    margin: 0;
  }
}

.control__input {
  @include visually-hidden;
}

.control__indicator {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 1px solid $diverst-border;
  background-color: $diverst-white;
  flex-shrink: 0;
  transition: background-color $time $curve, border-color $time $curve, box-shadow $time $curve;

  .control__input:checked + & {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transition: transform $time $curve;

    .control__input:checked + & {
      transform: none;
    }
  }
}

.control__label {
  margin-left: $spacing-small;

  &--left {
    margin-left: 0;
    margin-right: $spacing-small;
    float: left;
  }
}


// Checkbox

.control__indicator--checkbox {
	border-radius: $border-radius /2;

	&:after {
		margin-left: -$spacing-small;
		margin-top: -$spacing-small;
    transform: scale(0.3);
		@include icon(checkmark-white, 16px, 16px);
	}

  .control__input:focus + & {
    border-color: $primary-color;
    box-shadow: 0 0 0 1px $primary-color;
  }
}


// Radio

.control__indicator--radio {
  border-radius: 50%;

  &:after {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $diverst-white;
    margin-left: -(6px * 0.5);
    margin-top: -(6px * 0.5);
    transform: scale(0.3);
  }
}


// Toggle

.control__indicator--toggle {
  position: relative;
  width: 46px;
  height: 28px;
  border-radius: 40px;
  border: 0;
  background-color: $diverst-border;

  .control__input:checked + & {
    background-color: $primary-color;
    border-color: $primary-color;
    background-image: image-url("icons/checkmark-white.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 6px 5px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $diverst-white;
    transition: transform $time $curve;

    .control__input:checked + & {
      transform: translate3d(18px, 0, 0);
    }
  }
}
