// Counter

.counter {
  padding: 6px $spacing-small 2px;
  margin-bottom: $spacing-small;
  border-radius: $border-radius;
  border: 1px solid $diverst-border;
  color: $diverst-grey-light;
  cursor: pointer;
  display: inline-block;
  @include font-size($small-font-size);
  user-select: none;

  &--active {
    color: $primary-color;
  }
}

.counter__arrow {
  display: block;
  margin: 0 auto;
}

.counter__number {
  @include font-medium;
}