// Flex row

.flex-row {
  margin-left: -#{$spacing-small};
  margin-right: -#{$spacing-small};
  display: flex;

  &--middle {
    align-items: center;
  }

  &--baseline {
    align-items: baseline
  }
}

.flex-row__cell {
  padding: 0 $spacing-small;

  &--grow {
    flex: 1;
  }

  &--ellipsis {
    @include ellipsis(100%);
  }
}