// Input reset

input, select, textarea {
  color: inherit;
  font: inherit;
  line-height: normal;
  background-color: $diverst-white;
  outline: 0;
  border: 0;
  border-radius: 0;
  -webkit-font-smoothing: subpixel-antialiased; // Safari transform bug
  appearance: none;
}

select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

textarea {
  min-height: 100px;
  resize: vertical;
}

input[type="password"] {
  letter-spacing: .1em; // Better looking password placeholder
}


// Field

.field {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  margin-bottom: $spacing-medium;

  &:last-child {
    margin: 0;
  }

  .form--inline & {
    width: auto;
    margin-right: $spacing-small;
    margin-bottom: 0;
  }
}

.field--half {
  width: 50%;
}

.field--quarter {
  width: 25%;
}


// FIeld input wrapper

.field__input-wrapper {
  position: relative;
}

// Field input

.field__input {
  width: 100%;
  padding: 0.85em;
  outline: 0;
  border: 1px solid $diverst-border;
  color: $diverst-black;
  border-radius: $border-radius;
  transition: all $time $curve;
  backface-visibility: hidden;

  &--large {
    font-size: 110%;
  }

  &--ghost {
    border: 0;
    margin: -0.85em;
  }

  &:focus:not(.field__input--ghost) {
    border-color: $primary-color;
    box-shadow: 0 0 0 1px $primary-color;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $diverst-white inset;
  }

  &.attach_preview {
    @extend a;
    float: left;
    margin-bottom: 5px;
  }
}

.field_with_errors .field__input {
  border-color: $red;
}

// Field add ons

.field__input--left-add-on {
  padding-left: 25px;
}

.field__input--right-add-on {
  padding-right: 40px;
}

.field__add-on {
  pointer-events: none;
  @include v-center(absolute);

  &--left {
    left: 12px;
  }

  &--right {
    right: 12px;
  }

  &--dollar::before {
    content: "$";
  }
}


// Field Label

.field__label {
  display: block;
  margin-bottom: $spacing-small/1.5;
  @extend small;
}

label {
  cursor: pointer;
  vertical-align: middle;
}


.field__hint {
  margin-bottom: $spacing-medium;
}
