// Funnel

.funnel__cell {
  position: relative;
  display: inline-block;
  padding: 0 $spacing-x-large;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:after {
      display: none;
    }
  }

  &:after {
    content: "";
    display: block;
    left: calc(100% - 12px);
    color: $diverst-purple;
    @include icon(chevron-right);
    @include v-center(absolute);
  }
}