// Icons

@function remote-image-url($path) { @return unquote("url(//#{$domain}" + image-path($path) + ")"); } // We explicitely specify the domain because if we don't, the browser tries to load the images from S3's domain (for themes)

@mixin icon($filename, $width: 24px, $height: 24px, $background-width: null, $background-height: null) {
  background-image: remote-image-url('icons/#{$filename}.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: $width;
  height: $height;
  background-size: $background-width $background-height;
}

@mixin fill-in-svg($fill-color: $primary-color) {
  fill: $fill-color;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: $spacing-medium;
  height: $spacing-medium;
}

.icon--negative {
  fill: $red;
}

.icon-inline {
  display: inline-block;
  vertical-align: middle;
  width: 1.75em;
  height: 1.75em;
  fill: $diverst-grey-light;
}

.icon--bg {
  @extend .icon;
  background-size: 100%;
}

.icon--large {
  width: $spacing-large;
  height: $spacing-large;
}

.icon-inline--colored {
  fill: $primary-color;
}

.icon-inline--yellow {
  fill: $diverst-yellow;
}

h4 .icon {
  margin-right: $spacing-small;
}

.icon--large {
  width: $spacing-large;
  height: $spacing-large;
}

.icon--rotate {
  transform: rotate(180deg);
}


// Misc icons

.icon--chevron-down {
  @include icon(chevron-down);
}

.icon--chevron-down-purple {
  @include icon(chevron-down-purple);
}

.icon--chevron-right {
  @include icon(chevron-right);
}

.icon--reorder {
  @include icon(reorder, 16px, 16px);
  cursor: move;
}

.icon--star-yellow {
  @include icon(star-purple);
  fill: $primary-color;
}


// Upvote

.icon--upvote {
  @include icon(upvote, 10px, 6px);

  .counter--active & {
    @include icon(upvote-active, 10px, 6px);
  }
}


// Product icons

.icon--manage {
  @include icon(manage);
}

.icon--meet {
  @include icon(meet);
}

.icon--coffee-talk {
  @include icon(coffee-talk);
}

.icon--market-scope {
  @include icon(market-scope);
}

.icon--collaborate {
  @include icon(collaborate);
}


// Random icons

.icon--news {
  @include icon(news);
  background-size: 100%;
}

.icon--chat {
  @include icon(chat);
  background-size: 100%;
}

.icon--members {
  @include icon(manage-dark);
  background-size: 100%;
}

.icon--trophy {
  @include icon(trophy);
  background-size: 100%;
}

.icon--calendar {
  @include icon(calendar);
  background-size: 100%;
}

// svg icons

.svg-color {
  @include fill-in-svg($primary-color);
}