// Icons

@function remote-image-url($path) { @return unquote("url(http://#{$domain}" + image-path($path) + ")"); }

@mixin icon($filename, $width: 24px, $height: 24px, $background-width: null, $background-height: null) {
  background-image: remote-image-url('icons/#{$filename}.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: $width;
  height: $height;
  background-size: $background-width $background-height;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: $spacing-medium;
  height: $spacing-medium;
}

.icon--large {
  width: $spacing-large;
  height: $spacing-large;
}

.icon--rotate {
  transform: rotate(180deg);
}


// Misc icons

.icon--chevron-down {
  @include icon(chevron-down);
}

.icon--chevron-down-purple {
  @include icon(chevron-down-purple);
}

.icon--chevron-right {
  @include icon(chevron-right);
}

.icon--reorder {
  @include icon(reorder, 16px, 16px);
  cursor: move;
}

.icon--remove {
  @include icon(remove, 16px, 16px);
}

.icon--remove-red {
  @include icon(remove-red, 16px, 16px);
}

.icon--star-purple {
  @include icon(star-purple);
}


// Upvote

.icon--upvote {
  @include icon(upvote, 10px, 6px);

  .counter--active & {
    @include icon(upvote-active, 10px, 6px);
  }
}


// Product icons

.icon--manage {
  @include icon(manage);
}

.icon--handshake {
  @include icon(handshake);
}

.icon--coffee-talk {
  @include icon(coffee-talk);
}

.icon--market-scope {
  @include icon(market-scope);
}

.icon--unify {
  @include icon(unify);
}