// Media object

.media-object {
  padding: $spacing-large;
  margin-bottom: $spacing-large;
  cursor: pointer;
  position: relative;
  @include user-select(none);
  @extend .field__input;

  &:after {
    content: "";
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: $diverst-purple;
    border-radius: 0 0 0 $border-radius;
    @include icon(checkmark-white, 30px, 30px, 24px, 16px);
    @include transition(opacity $time $curve, visibility $time $curve);
  }

  &--selected {
    border-color: $diverst-purple;
    box-shadow: 0 0 0 1px $diverst-purple;

    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.media-object__image {
  width: 100px;
  height: 100px;
}