// Media object

.media-object {
  padding: $spacing-large;
  margin-bottom: $spacing-large;
  cursor: pointer;
  position: relative;
  user-select: none;
  @extend .field__input;

  &:after {
    content: "";
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: $primary-color;
    border-radius: 0 0 0 $border-radius;
    @include icon(checkmark-white, 30px, 30px, 24px, 16px);
    transition: opacity $time $curve, visibility $time $curve;
  }

  &--selected {
    border-color: $primary-color;
    box-shadow: 0 0 0 1px $primary-color;

    &:after {
      opacity: 1;
      visibility: visible;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.media-object__image {
  width: 100px;
  height: 100px;
}