.menu {
  &.menu--mobile {
    @media (min-width: 600px) {
      display: none;
    }
  }
  &.menu--desktop {
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.jq-dropdown {
  position: fixed;
  text-align: left;

  .jq-dropdown-menu {
    li {
      border-bottom: 1px solid $diverst-border;
      padding: 5px 0;
    }

    li:last-child {
      border-bottom: 0;
    }
  }
}

.m-hamburger {
  height: 3.5em !important;
  width: 3.5em !important;
  padding: 0 !important;
}
