// Notice

.notice {
  position: fixed;
  bottom: $spacing-large;
  right: $spacing-large;
  z-index: 10; // Position notice over content
  margin: 0;
  padding: $spacing-medium $spacing-large;
  background-color: rgba($diverst-black, 0.96);
  color: $diverst-white;
  text-align: center;
  border-radius: $border-radius;

  &:empty {
    display: none; // Hides the element if there is no content
  }
}

.alert {
  @extend .notice;
  background-color: $red;
}