// Progress

.progress-bar {
  position: relative;
  width: 100%;
  height: $spacing-small;
  overflow: hidden;
  background: $diverst-border;
  border-radius: $border-radius;
}

.progress-bar__fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  max-width: 100%;
  background-color: $primary-color;
  border-radius: $border-radius;
  transition: width $time $curve;
}

.warning {
  background-color: $diverst-warning-red;
}