// Select2

.select2 {
  width: 100% !important;
}

.select2-selection__choice {
  background-color: $diverst-grey !important;
  border: none !important;
  color: $diverst-white !important;
  border-radius: 2px !important;
}

.select2-selection__choice__remove {
  color: $diverst-white !important;
  vertical-align: 1px !important;
  margin-right: $spacing-small/2 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: mix($diverst-white, $diverst-border, 50%) !important;
  color: $diverst-black !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: block;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid $diverst-border;
}

.select2-container .select2-selection--single {
  height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
  margin-right: 8px;
}

.select2-container .select2-selection--single {
  outline: none;
  border: 1px solid $diverst-border;
}

.select2-container--open .select2-dropdown--below {
  border-color: $diverst-border;
}

.select2-container--open .select2-dropdown--above {
  border-color: $diverst-border;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid $diverst-border;
}

.select2-results {
  font-size: 14px;
}

select[readonly].select + .select2-container {
  pointer-events: none;
  touch-action: none;

  .select2-selection {
    background: #eee;
    box-shadow: none;
  }

  .select2-selection__arrow,
  .select2-selection__clear {
    display: none;
  }
}

select[readonly].select + .select2-container .select2-selection__choice__remove {
  display: none !important;
}
