// Table

table {
  width: 100%;

  .sorting, .sorting_asc, .sorting_desc {
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
  }

  .sorting {
    background-image: image_url('icons/sort_both.png');
  }

  .sorting_asc {
    background-image: image_url('icons/sort_asc.png');
  }

  .sorting_desc {
    background-image: image_url('icons/sort_desc.png');
  }
}

td {
  padding: $spacing-small*1.5;
}

tbody tr {
  .table--has-border & {
    border-top: 1px solid $diverst-border;
  }
}

th {
  padding: $spacing-small*1.5;
  text-align: left;
  @include font-regular;
  @extend .highlight;
}

td.icon-column {
  width: $spacing-large;
}
