// Table

table {
  width: 100%;
}

td {
  padding: $spacing-small*1.5;
}

tbody tr {
  .table--has-border & {
    border-top: 1px solid $diverst-border;
  }
}

th {
  padding: $spacing-small*1.5;
  text-align: left;
  @include font-regular;
  @extend .highlight;
}