// Tooltips

.has-tooltip {
  position: relative;
  outline: 0;
  display: none;

  @include mq(medium) {
    display: inline-block;
  }
}

.tooltip {
  @extend small;
  position: absolute;
  left: 50%;
  bottom: 150%;
  background-color: rgba($diverst-black, 0.9);
  color: $diverst-white;
  padding: 0.75em 2em;
  border-radius: $border-radius;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  @include z-index(tooltip);
  transition: all $time $curve;
  transform: translate3d(-50%, 5px, 0);
  transform-origin: center bottom;

  .has-tooltip:hover &,
  .has-tooltip:focus &,
  &.tooltip--is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate3d(-50%, 0, 0);
  }

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: rgba($diverst-black, 0.9) transparent transparent transparent;
    top: 100%;
    left: 50%;
    margin-left: -6px;
  }
}

// Tooltipster tooltips

.tooltipster {
  display: inline-block;
  height: inherit;
}

.tooltipster-punk > .tooltipster-box {
  border-bottom-color: $primary-color !important;
}

.tooltipster-punk > .tooltipster-box > .tooltipster-content ul {
  color: inherit;
}

.tooltipster-punk > .tooltipster-box > .tooltipster-content ul li {
  margin-bottom: 0;
}

.tooltipster-punk > .tooltipster-arrow .tooltipster-arrow-border {
  border-top-color: $primary-color !important;
}

.tooltipster > svg {
  vertical-align: middle;
  margin-top: -25%;
}

.tooltip_templates {
  display: none;
}