# Monit configuration for Puma
# Service name: {{ monit_app_prefix }}puma
#
check process {{ monit_app_prefix }}puma
  with pidfile "{{ monit_puma_pid_abspath }}"
  start program = "{{ monit_puma_start_command }}"
  stop program = "{{ monit_puma_stop_command }}"

{% for i in range(monit_puma_workers) %}
check process {{ monit_app_prefix }}puma-worker-{{ i }}
  with matching "{{ monit_puma_worker_pattern | replace('%WID%', i) }}"
  if totalmem is greater than {{ monit_puma_memory_per_worker }} for {{ monit_puma_memory_cycles }} cycles then exec "{{ monit_puma_stop_worker_command | replace('%WID%', i) }}"

{% endfor %}
