# Monit configuration for Sidekiq
# Service name: {{ monit_app_prefix }}sidekiq
#
{% for i in range(monit_sidekiq_processes) %}

check process {{ monit_app_prefix }}sidekiq-{{ i }}
  with pidfile "{{ monit_sidekiq_pid_abspath | replace('%i%', i) }}"
  start program = "{{ monit_sidekiq_start_command | replace('%i%', i) }}"
  stop program = "{{ monit_sidekiq_stop_command | replace('%i%', i) }}" with timeout {{ monit_sidekiq_exit_timeout }} seconds
  if totalmem is greater than {{ monit_sidekiq_memory_per_worker }} for {{ monit_sidekiq_memory_cycles }} cycles then restart
{% endfor %}
