<div class="content__header">
  <img class="logo logo--large" src="<%= image_path "diverst-logo.svg" %>">
  <p>Connect with someone within Anycorp based on your common interest but diverse background to explore new ideas or think outside the box to solve problems.</p>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h2>Thank you for your input</h2>
      <p>Your feedback will be compiled and considered to help us make the best decision.</p>
    </div>
  </div>
</div>