<div class="text-center">
  <h1>Congratulations! You got a new reward.</h1>

  <%= inline_svg('icons/trophy.svg', size: "200px") %>

  <p>We are reviewing your reward redemption and will get back to you shortly!</p>

  <%= link_to "Back to rewards", user_rewards_path, class: "btn btn--primary" %>
  <%= link_to "Back to your dashboard", user_root_path, class: "btn btn--secondary" %>
</div>
