<div class="nested-fields space-bottom">
  <div class="flex-row flex-row--baseline">
    <div class="flex-row__cell">
      <%= link_to_remove_association f do %>
        <%= inline_svg('icons/remove.svg', class: "icon") %>
      <% end %>
    </div>
    <div class="flex-row__cell flex-row__cell--grow">
      <div class="field">
        <div class="field__input-wrapper">
          <%= f.association :field, collection: f.object.enterprise.fields, label: false %>
        </div>
      </div>
    </div>
    <div class="flex-row__cell"><span class="icon icon--reorder"></span></div>
  </div>
</div>