<strong>Select field</strong>

<%= f.input :title %>

<div id="options">
  <%= f.simple_fields_for :options do |option| %>
    <%= render 'option_fields', f: option %>
  <% end %>
  <div class="link">
    <%= link_to_add_association "Add option", f, :options %>
  </div>
</div>