<strong>Select field</strong>

<%= f.input :title %>

<div id="field_options">
  <%= f.simple_fields_for :field_options do |option| %>
    <%= render 'field_option_fields', f: option %>
  <% end %>
  <div class="link">
    <%= link_to_add_association "Add option", f, :field_options %>
  </div>
</div>