<div class="content__main">
  <div class="row">

    <div class="col sm-12 md-12">
      <div class="card">
        <div class="card__section">
          <%= simple_form_for @enterprise do |f| %>
            <%= f.input :time_zone %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
