<div class="content__header">
  <h1>Pending Comments</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @enterprise, :url => enterprise_path(@enterprise) do |f| %>
        <%= f.hidden_field :enable_pending_comments, value: 0 %>
        <%= f.input :enable_pending_comments, id: 'enable_pending_comments', label: 'Enable Pending Comments' %>
        <%= f.button :submit, "Save" %>
      <% end %>
    </div>
  </div>
</div>