<p>Hello <%= @user.name %>!</p>

<p>Your mentoring session has been scheduled from <%= @mentoring_session.start.strftime("%m/%d/%Y %I:%M %p") %> to <% @mentoring_session.start.strftime("%m/%d/%Y %I:%M %p") %>. Click the link below to add the session to your calendar.</p>

<p><%= link_to "Session Details", mentoring_session_url(id: @mentoring_session.id, saml_for_enterprise: @user.enterprise.id) %></p>