<div class="card__section">
  <%= render 'public_activity/shared/owner', activity: activity %>
  approved pending member(<%= link_to activity.trackable.first_name, user_user_path(activity.trackable) %>)
  (<%= activity.created_at.to_s :datetime %>)
</div>