<div class="nested-fields card__section card__section--border">
  <div class="flex-row flex-row--middle">
    <div class="flex-row__cell">
      <%= f.input :is_done, label: false, wrapper: :boolean_checkbox %>
    </div>
    <div class="flex-row__cell--grow">
      <%= f.input :title, label: false %>
    </div>
    <div class="flex-row__cell">
      <%= link_to_remove_association "X", f, class: "error" %>
    </div>
  </div>
</div>