<div class="btn-group hidden-xs" id=<%= id %> role="group" aria-label="Range Selector Buttons">
  <button class="range-btn btn btn--tertiary btn--extra--small" value="1m">1m</button>
  <button class="range-btn btn btn--tertiary btn--extra--small" value="3m">3m</button>
  <button class="range-btn btn btn--tertiary btn--extra--small" value="6m">6m</button>
  <button class="range-btn btn btn--tertiary btn--extra--small" value="1y">1y</button>
  <button class="range-btn btn btn--tertiary btn--extra--small" value="all">All</button>
</div>
<div class="btn-group visible-xs" id=<%= id %> role="group" aria-label="Range Selector Buttons">
  <button class="range-btn btn btn-tertiary btn--extra--small" value="1m">1m</button>
  <button class="range-btn btn btn-tertiary btn--extra--small" value="3m">3m</button>
  <button class="range-btn btn btn-tertiary btn--extra--small" value="6m">6m</button>
  <button class="range-btn btn btn-tertiary btn--extra--small" value="1y">1y</button>
  <button class="range-btn btn btn-tertiary btn--extra--small" value="all">All</button>
</div>