<div class="nested-fields">
  <%= link_to_remove_association "Remove", f, class: "error" %>
    x
  </br>
  <%= f.input :start, as: :date_time_picker, label: "Start time" %>
  <%= f.input :end, as: :date_time_picker, label: "End time" %>
</div>