<%= raw @mailer_text %>

<p>*<% if @resource.enterprise.custom_text.privacy_statement.present? %>
	  <%= @resource.enterprise.custom_text.privacy_statement %>.
	<% else %> 
	  Privacy Statement
	<% end %>  
<% if @resource.enterprise.privacy_statement.present? %>
  <%= simple_format @resource.enterprise.privacy_statement %>
<% else %>
  <%= render 'users/default_privacy_statement' %>
<% end %>
</p>