<p>At X-Corp, we want to recognize and celebrate our diversity with our employees. We believe this is a core strength that leads to greater alignment. Please share with us a little bit about yourself so we can help you make the important connections that make your work with us more fulfilling and allow us all to celebrate what makes us unique.</p>

<p>Answer only what you are comfortable with:</p>

<p>* Privacy statement. Diverst uses a double factor authentication protocol and regards your data as highly confidential. It only uses this data in an algorithm to match employees with others based on similar interests and skills, along with what makes them unique. Your data will never be shared with anyone or anything other than the matching algorithm.</p>

<p><%= link_to "Set up my profile", accept_invitation_url(@resource, :invitation_token => @token) %></p>