<div class="content__header">
  <h1>Logs</h1>
</div>

<div class="content__main">
  <div class="card">
    <%= render_activities(@activities_page) %>
    <%= paginate @activities_page %>
  </div>
</div>
