#!/usr/bin/env puma

directory '{{ application_root }}/current'
rackup "{{ application_root }}/current/config.ru"
environment 'production'

tag ''

pidfile "{{ application_root }}/shared/tmp/pids/puma.pid"
state_path "{{ application_root }}/shared/tmp/pids/puma.state"
stdout_redirect '{{ application_root }}/shared/log/puma_error.log', '{{ application_root }}/shared/log/puma_access.log', true


threads 0,16

bind 'tcp://0.0.0.0:3000'

workers 2

preload_app!

on_restart do
  puts 'Refreshing Gemfile'
  ENV["BUNDLE_GEMFILE"] = ""
end

before_fork do
  ActiveRecord::Base.connection_pool.disconnect!
end

on_worker_boot do
  ActiveSupport.on_load(:active_record) do
    ActiveRecord::Base.establish_connection
  end
end
