<div class="nested-fields space-bottom">
  <div class="flex-row flex-row--baseline">
    <div class="flex-row__cell">
      <%= link_to_remove_association f do %>
        <span class="icon icon--remove"></span>
      <% end %>
    </div>
    <div class="flex-row__cell">
      <%= f.input :yammer_field_name, collection: YammerClient.user_fields, label: false, prompt: "Choose the Yammer field..." %>
    </div>
    <div class="flex-row__cell">
      from <strong>Yammer</strong> maps to
    </div>
    <div class="flex-row__cell">
      <%= f.association :diverst_field, label_method: :title, label: false, prompt: "Choose the Diverst field...", collection: f.object.enterprise.fields %>
    </div>
    <div class="flex-row__cell">
      in <strong>Diverst</strong>
    </div>
  </div>
</div>