  <label class="field__label">
    <%= f.label cf.title, required: cf.required %>
  </label>
  <span class="error"><%= field_errors(resource, cf) %></span>
  <%= f.input cf.title.downcase.to_sym,
        label: false,
        as: :fake,
        input_html: {
          class: "datepicker date_picker_input",
          name: "custom-fields[#{cf.id}]",
          value: resource.info[cf],
          type: "text",
          placeholder: "YYYY-MM-DD"
        },
        required: cf.required,
        disabled: !cf.show_on_vcard
  %>
