<div class="content__header">
  <h1>Events Calendar</h1>
  <div class="flex-row flex-row--middle">
    <div class="flex-row__cell">
      <%= link_to "List View",   group_events_path(@group), class: "btn btn--secondary" %>
    </div>
    <% if policy(Event).new?  %>
      <div class="flex-row__cell">
        <%= link_to "+ Create new event", new_group_event_path, class: "btn btn--primary" %>
      </div>
    <% end %>
  </div>
</div>
<div id="calendar" data-calendar-data-url="<%= calendar_data_group_events_path(@group) %>"></div>

<script>
  $(document).ready(function(){
    applyFullCalendar();
  }); //endof document.ready
</script>