<div class="content__header">
  <h1>Events</h1>
  <%= link_to "+ Create new event", new_group_event_path, class: "btn btn--primary" if policy(Event).new? %>
</div>

<div class="content__main">
  <% unless @ongoing_events.empty? %>
    <h3>Ongoing events</h3>
    <div class="card">
      <% @ongoing_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </div>
  <% end %>

  <% unless @upcoming_events.empty? %>
    <h3>Upcoming Events</h3>
    <div class="card">
      <% @upcoming_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </div>
  <% end %>

  <h3>Past events</h3>
  <div class="card">
    <% if @past_events.empty? %>
      <div class="card__section">
        <p>There are no events in this group.</p>
      </div>
    <% else %>
      <% @past_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    <% end %>
  </div>

</div>