<div class="content__header">
  <h1>Events</h1>
  <%= link_to "+ Create new event", new_group_event_path, class: "btn btn--primary" %>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section card__section--border">
      <h4>Upcoming events</h4>
      <ul class="unstyled">
        <% @upcoming_events.each do |event| %>
          <li><%= event.title %></li>
        <% end %>
      </ul>
    </div>
    <div class="card__section card__section--border">
      <h4>Past events</h4>
      <ul class="unstyled">
        <% @past_events.each do |event| %>
          <li><%= event.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>