<div class="content__main">
  <%= simple_form_for [@initiative, @expense], url: url do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :description,
              label: "Start off by giving the expense a <strong>description</strong>".html_safe,
              input_html: { autofocus: true } %>
      </div>
      <div class="card__section card__section--border">
        <%= f.input :amount, label: "Specify the <strong>amount</strong> spent".html_safe %>
      </div>
    </div>

    <%= f.button :submit, 'Create Event Expense' %>
  <% end %>
</div>
