<div class="content__header">
  <h2 class="h1-styling">Add an expense to this event</h2>
</div>

<div class="content__main">
  <%= render "form", url: group_initiative_expenses_path(@group, @initiative) %>
</div>