<%= link_to "View all", group_events_path(@group), class: "card__action" %>

<% if @upcoming_events.empty? %>
  <div class="mtlarge text-center">
  <% if policy(@group).is_a_member? %>
    You have not joined any events yet.
  <% else %>
    You are not a member of <%= @group.name %>
  <% end %>
  </div>
<% else %>
  <% if policy(@group).view_upcoming_events? %>
    <% @upcoming_events.each do |event| %>
      <%= render "shared/flippable/event", event: event %>
    <% end %>
  <% else %>
  <div class="mtlarge text-center">
    You are not a member of <%= @group.name %>.
  </div>
  <% end %>
<% end %>