<% if @group.parent.present? %>
  <div class="card card--secondary">
    <div class="card__section">
      <%= c_t(:parent).titleize %><br>
      <%= link_to @group.parent.name, @group.parent %>
      (<% if current_user.is_member_of? @group.parent %>
        member
      <% else %>
        not member
    <% end %>)
      <br>
    </div>
  </div>
<% end %>