<% if @group.parent.present? %>
  <div class="card card--secondary">
    <div class="card__section">
      Parent-<%= c_t(:erg).titleize %><br>
      <%= link_to @group.parent.name, @group.parent %><br>
    </div>
  </div>
<% end %>