<% if current_user.enterprise.enable_rewards? %>
  <div class="card card--secondary">
      <div class="card__section">
      <h4 class="card__title"><%= inline_svg('icons/trophy.svg', class: "icon card__icon") %>Leaderboards</h4>
      <h5>Most Active this week</h5>
      <ol>
        <% @top_user_group_participants.each do |user_group| %>
          <li><%= user_group_performance_label(user_group) %></li>
        <% end %>
      </ol>
    </div>
    <div class="card__section">
      <h5>Top <%= c_t(:erg).pluralize %> this week</h5>
      <ol>
        <% @top_group_participants.each do |group| %>
          <li><%= group_performance_label(group) %></li>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>