<% if @group.active_members.include? current_user %>
  <div class="card card--secondary">
    <div class="card__section">
        <label>Frequency of Notifications</label>
        <p><%= current_user.groups_notifications_frequency %></p>
        </br>
        <% if current_user.groups_notifications_frequency == "weekly" %>
          <label>Day of Notifications</label>
          <p><%= current_user.groups_notifications_date %></p>
        <% end %>
    </div>
  </div>
<% end %>