<% if @group.active_members.include? current_user %>
  <div class="card card--secondary">
    <div class="card__section">
      <%= simple_form_for @user_group, method: :post, html: {id: "user_group" } do |f| %>
        <%= f.input :notifications_frequency,
          collection: UserGroup.notifications_frequencies.keys.map{ |f| [t("user_group.#{ f }"), f] },
          label: "Frequency of notifications",
          include_blank: false,
          input_html:
            {
              class: 'ajax-toggle-1',
              'data-url': group_user_group_path(@group, @user_group)
            }
        %>
        </br>
        <div class="notifications_date">
          <%= f.input :notifications_date,
            collection: UserGroup.notifications_dates.keys.map{ |f| [t("user_group.#{ f }"), f] },
            label: "Day of notifications",
            include_blank: false,
            input_html:
              {
                class: 'ajax-toggle-2',
                'data-url': group_user_group_path(@group, @user_group)
              }
          %>
        </div>
       <% end %>
    </div>
  </div>


<% end %>