 <header class="primary-header" style="height: 10%;">
   <div class="flex-row__cell" style="padding-bottom: 1%">
     <h1 style="background-color: <%= @enterprise.theme&.primary_color || '' %> !important;
                height: 76px;">
       <%= image_tag(@embedded_enterprise_logo, height: '100%', width: '30%', alt: "#{@enterprise.name} logo" ) %> 
     </h1>
   </div>  
 </header>
