<div class="row" style="padding-top: 40%; positon: relative; ">
  <% if @group&.logo.present? %>
    <img src="<%= image_url(@group.logo.expiring_url(3601)) %>" style="width: 10%">
  <% end %>
  <% if @groups&.present? %>
    <% @groups.each do |group| %>
      <img src="<%= image_url(group.logo.expiring_url(3601)) %>" style="width: 10%">
    <% end %>
  <% end %>
</div>    